@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  margin-left: 0;
  margin-right: 0;
}

html {
  scroll-behavior: smooth;
}

/* Dark mode styles */
html.dark {
  background-color: #121212;
}

body.dark {
  background-color: #181818;
  color: #ffffff;
}
